.grid-ish {
	display: flex;
	flex-wrap: wrap;
}

.grid-ish > * {
	flex: 1 1 10em;
}

.map-responsive{

    overflow:hidden;

    padding-bottom:40%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}

.video-container {
  height: 400px;
  /* width: 300px; */
  overflow: hidden;
  position: relative;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}